@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

.main-container {
  display: flex;
  flex-direction: column;
}

.picofme {
  width: auto;
  height: 400px;
  margin-left: 50px;
}

.container1 {
  display: flex;
  margin: 100px;
  height: 400px;
}
.Name {
  font-size: 100px;
  margin-top: 0;
  font-weight: 900;
}

.text1 {
  font-family: "Spartan";
  padding: 10px;
}

.container2 {
  display: flex;
  margin: 50px;
  height: 400px;
}

.fail {
  height: 300px;
  width: auto;
  margin-top: 50px;
  margin-right: 50px;
}

.text2 {
  font-family: "Spartan";
  padding: 130px;
  margin-left: 200px;
}

.container3 {
  display: flex;
  margin: 100px;
  height: 400px;
}

.text3 {
  font-family: "Spartan";
  padding: 100px;
  margin-right: 200px;
}

.gaming {
  width: auto;
  height: 300px;
  margin-left: 50px;
}
